# pkg
node_modules/

# config
/package.json
package-lock.json

# local file
scripts/
sol_keypair.json
troubleshooting.md

.anchor
.DS_Store
.prettierignore
target
*.rs.bk
test-ledger
.yarn
app
migrations